<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Project 2 Rough Draft</title>
  <!-- Bootstrap Styling -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="main.css">

</head>
<body>

<div class="container">

    <div class="navbarmenu">
      <div class="col-sm-12" "panel-primary" style="background-color: #000000 ; color: #93CCEA;">
        <h2 class="text-left"><strong>simpleBB</strong></h2>
        <h5>a modularized bulletin board</h5>
          <div class="navbar"
            <ul class="nav navbar-nav navbar-right navbar-right-custom">

              <li><a href="#">home</a></li>

              <li><a href="/signup.handlebars">register</a></li>
              <li><a href="/login.handlebars">login</a></li>
            </ul>
          </div>

      </div>
    </div>
  <br>
<table class="table table-striped">
   <thead>
     <div class="row">

          <tr class="table-header">
            <th class= "row col-md-4">Main Topics</th>
            <th class= "row col-md-4">Posts</th>
            <th class= "row col-md-4">Last post</th>

         </tr>
    </div>
  </thead>

  <tbody id="subtopics">

      <tr class="table-rows">
        <td><span id="messageBody"><p>{{forum topics}}</p></span>

      </tr>
  </tbody>
</table>


<!-- Footer Region -->
<div class="row">
  <div class="col-md-12">
    <!-- Line Break followed by closing -->
    <hr>
    <h5 class="text-center"><medium>&copy simpleBB. All posts copyright their original authors</medium></h5>
  </div>
</div>




<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="public/assets/javascript/marked.min.js"></script>
<script src="public/assets/javascript/javascript.js"></script>
</body>
</html>
