






<form action="/logout" method="GET">
    <button type="submit">Logout</button>
</form>
<form action="/login" method="GET">
    <button type="submit">Login</button>
</form>
<form action="/signup" method="GET">
    <button type="submit">Sign up</button>
</form>
{{#if user}}
<div>You are logged in as {{user.name}} a {{user.type}}</div>
{{/if}}
