<div class="container" id="categoryList">
    {{#each data}}
        <div class="row categoryTitle">
            <h3>{{category}}</h3>
        </div>
        {{#each Forums}}
            <div class="row forumRow">
                <div class="col-md-6 forumTitle">
                    <a href="/viewforum?id={{id}}"><h4>{{title}}</h4></a>
                    <p>{{description}}</p>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        {{/each}}
    {{/each}}
</div>
