<div class="container" id="categoryList">
    {{#each data}}
        <div class="row categoryTitle">
            <h3>{{category}}</h3>
        </div>
        {{#each Forums}}
            <div class="row forumRow">
                <div class="col-md-6 forumTitle">
                    <a href="/viewforum?id={{id}}"><h4>{{title}}</h4></a>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        {{/each}}
    {{/each}}
</div>

<!-- <form id="testing" action="/pop" method="post">
    <input name="yo">
    <button id="test">CLICK ME</button>
</form> -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$("#test").on("click", evt => {
    evt.preventDefault();
    alert("uh")
    $.ajax({
        url: "/test",
        method: "POST"
    }).done(data => {
        $("#testing").submit();
    });
});
</script>
