<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <h3>Welcome to SimpleBB</h3>
            <p>Looks like this is a new install. Let's create a new admin user</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form id="register-form" action="/adminreg" method="POST">
                <div class="form-group">
                    <input type="text" name="username" id="username-register" class="form-control input-sm" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email-register" class="form-control input-sm" placeholder="Email address" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password-register" class="form-control input-sm" placeholder="Password. Minimum 6 characters.">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" id="registerAdmin" value="check" style="float: right">Sign up</button>
                </div>
                <div class="failMsg" id="regFail"></div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $("#navbar").html("");
</script>
