<div class="container body-container my-border">
  <form class="modal-form" id="login-form" action="/login" method="POST">
      <div class="form-group">
          <input type="text" name="username" id="username-register" class="form-control input-sm" placeholder="Username" required>
      </div>
      <div class="form-group">
          <input type="password" name="password" id="password-register" class="form-control input-sm" placeholder="Password" required>
      </div>
      <div class="form-group">
          <button class="btn btn-primary" type="submit" id="login">Log in</button>
      </div>
      <div class="failMsg" id="logFail"></div>
  </form>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$("#login").on("click", evt => {
    evt.preventDefault();
    let url = window.location.href;
    $.post("/login", $("#login-form").serialize(), data =>{
        if(data != "failed") {
            window.location.href = url;
        } else {
            $("#logFail").text("Incorrect username and/or password.");
        }
    });
});
</script>
