<div class="container">
    <form class="post" id="newTopicForm" action="newpost" method="POST">
        <div class="form-group">
            <label for="newPost">Message: </label>
            <textarea class="form-control input-sm" id="newPost" name="post" required></textarea>
        </div>
        <input name="TopicId" value="{{tid}}" readonly style="display: none">
        <input name="UserId" value="{{userInfo.uid}}" readonly style="display: none">
        <div class="form-group">
            <button class="btn btn-default">Submit</button>
        </div>
    </form>
</div>
